<!DOCTYPE html>
<html>
  <head>
    <title>Twitterclone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
　
  <header>
    <ul>
      <li class="right"><a href="#">ログイン</a></li>
      <li class="right"><a href="#">サインアップ</a></li>
    </ul>
  </header>

  <body>
  <div class="container">
    <% if flash.notice.present? %>
    <div class="alert alert-success">
      <%=  flash[:notice]%>
    </div>
    <% end %>
    <%= yield %>
  </div>
  </body>

  <footer class="footer">
    <p>© 9999 TwitterClone Corp.</p>
  </footer>
</html>
